h1{
    background-color: aqua;
    font-size: 25px;
    height: 100px;
    width: 100px;
}
button{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 50px;
    color: white;
    font-size: 25pt;
    border-radius: 10px;
    border-style: hidden;
}
button:hover{
    background-color: aquamarine;
}